---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

---

<BaseLayout >
<div class="sm:prose-sm lg:prose-lg xl:prose-xl mt-16">
<h2>Über den Verein</h2>
<p>Aus einer Privatinitiative erwuchsen Mitte der 80er Jahre Hilfsprojekte für die Ärmsten der Armen auf den philippinischen Inseln. Der Jesuitenpater Joel Tabora, der in Deutschland studierte und so zu einem guten Freund wurde, und Diakon Walter Rothlehner mit seiner Familie versuchen seitdem menschenwürdige Verhältnisse für die Personen zu erreichen, die in den bestehenden Projekten eingebunden sind. Dies geschieht vorwiegend als Hilfe zur Selbsthilfe. Dies bedeutet, dass jeder, der Hilfe erhält, im Rahmen seiner Möglichkeiten auch selbst etwas dafür tun muss, sei es durch handwerkliche oder finanzielle Eigenleistung oder durch Weitergabe des erlernten Wissens. </p>
<p>Ab Anfang der 90er Jahre schlossen sich Gläubige der Pfarreien St. Ulrich-Unterschleißheim, St. Franziskus Neufahrn, St. Jakobus-Frontenhausen, der Pfarrverband Neumarkt St. Veit und die Kolpingsfamilie Friedrichshafen-Berg als Förderer und Spender dieser Hilfsinitiative an. </p>
<p>Die Hilfe, die zunächst einige hundert Arme erreichte, ist zu einer erfreulichen Größe gewachsen und hilft inzwischen vielen Tausenden. Dies ermutigte die Mitglieder des derzeitigen Vorstands im Dezember 2009 den Verein Philippinenhilfe e.V. zu gründen, um auf einer breiten Basis die Hilfe auch in Zukunft sicherzustellen. Deshalb hoffen wir auf eine weiter steigende Mitgliederzahl, um die Hilfe für Benachteiligte auf den Philippinen ausweiten zu können. </p>
</div>
 </BaseLayout>
