---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostCard from '../components/BlogPostCard.astro';
let posts = Astro.fetchContent("/src/pages/posts/*.md");
posts.sort((a, b) => b.published - a.published);
posts = posts.slice(0, 20);
---

<BaseLayout>
		{posts.map((item) => {
			return <a href={item.url}>
        <BlogPostCard post={item}/>
      </a>;
		})}
</BaseLayout>
