---
// Component Imports
import Button from '../components/Button.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
			<div>Hauptseite</div>
</BaseLayout>
