---
  const { post } = Astro.props;

---

  <div class="my-8 relative bg-white shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:w-2/3 sm:rounded-lg">
    <div class="flex flex-row space-x-4">
      <div class="overflow-hidden">
        <img class="object-cover h-64 w-64 rounded-l-lg" src="https://picsum.photos/600/300" alt="">
      </div>
      <div class="p-6">
        <div class="font-light text-3xl">{post.title}</div>
	      <div class="text-gray-500 mb-8">{post.author}</div>
	      <p class="text-lg">{post.description}</p>
    </div>
    </div>
</div>