---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
const { title, description, author, tags } =
	Astro.props.content;
---

<BaseLayout>
  <article class="prose mx-auto mt-32">
    <h1>{title}</h1>
    <h3>Verfasst von: {author}</h3>
    <Markdown>
      <slot/>
    </Markdown>
  </article>
</BaseLayout>