---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
---

<BaseLayout>
  <article class="sm:prose-sm lg:prose-lg xl:prose-xl mt-16">
    <div class="mb-8">    
      <a class=" underline underline-offset-auto hover:text-indigo-600 text-indigo-500" href="/projekte">zurück zur Übersicht</a>
    </div>
    <Markdown>
      <slot/>
    </Markdown>
  </article>
</BaseLayout>